*{
    padding: 0px;
    margin-bottom: 0px;
}

.bodyhome{
    background-color: #fcf0cf;
}
header{
   text-align: right;
}
header a {
   text-decoration: none;
   color: gray;
}

.headlogin{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: flex-end;
}

.head1{
   margin-left: 20px;
}

a{
   text-decoration: none;
}

.logo1{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.logo{
   border-radius: 180px;
   display: block;
   margin: 0 auto;
   height: 150px;
   width: 150px;
}

.titulo{
    text-align: center;
    background-color: #F3D1DC;
    margin-top: 30px;
}

.h1h{
    padding: 15px;
      border-radius: 10px;
}

ul li a{
   text-decoration: none;
   color: black;
}

.me{
   text-align: center;
   background-color: #F3D1DC;
   font-size: large;
   margin-top: 30px;
<<<<<<< HEAD
}

.h1h{
    padding: 20px;
}

.h1h1{
    padding: 15px;
=======
   border: 2px solid #f6a7c1;
   border-radius: 10px;
}

.melegidos{
  background-color: white;
   border: 2px solid black;
   border-radius: 40px;
   margin-bottom: 10px;
   height: 400px;
   width: 300px;
   justify-content: space-around;
   margin-top: 15px;
   padding-bottom: 15px;
>>>>>>> 022acdd999b49d041de1ea93ae0855bb84dd622a
}

.maselegidos {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   padding: 15px;
   text-align: center;
<<<<<<< HEAD
}

.prod{
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
    margin-bottom: 10px;
    padding: 13px;
    height: 450px;
    width: 300px;
    padding: 10px;
=======
>>>>>>> 022acdd999b49d041de1ea93ae0855bb84dd622a
}

.melegidos img{
   height: 200px;
   width: 200px;
}

.mp{
   text-align: center;
   background-color: #F3D1DC;
   font-size: large;
   margin-top: 30px;
<<<<<<< HEAD
=======
   border: 2px solid #f6a7c1;
   border-radius: 10px;
}
.mproductos{
   background-color: white;
   border: 2px solid black;
   border-radius: 40px;
   margin-bottom: 10px;
   height: 400px;
   width: 300px;
   justify-content: space-around;
   margin-top: 15px;
   padding-bottom: 15px;
>>>>>>> 022acdd999b49d041de1ea93ae0855bb84dd622a
}
.masproductos{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   padding: 15px;
   text-align: center;
}

.mproductos img{
   height: 200px;
   width: 200px;
}
.melegidos a{
   text-decoration: none;
}

.vermas{
    margin-top: 20px;
}

.footerhomep{
margin: 20px;
padding: 5px;
}

.footerhomebox{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #F3D1DC;
<<<<<<< HEAD
=======
    border: 2px solid #f6a7c1;
    margin-top: 15px;
>>>>>>> 022acdd999b49d041de1ea93ae0855bb84dd622a
}


.h1a{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   font-size: 30px;
   margin-top: 20px;
}

.formbox2{
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   background-color: rgba(197, 191, 191, 0.5);
   width: 60vw;
   height: 500px;
   margin: 50px auto;
}

.form2{
   padding: 15px;
   padding-left: 10px;
   padding-right: 10px;
}

.h1register{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.formbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 650px;
    border: solid 2px;
    border-radius: 15px;
    margin: 20px auto;
    background-color: #fcf0cf;
    border-color: #fdcf76;
}

.formbox1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcf0cf;
    width: 520px;
    height: 500px;
    border: solid 2px;
    border-radius: 15px;
    border-color: #fdcf76;
    margin: 20px auto;
}

.form1{
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.obligatorio{
    color: red;
    font-size: smaller;
}

.userbox{
    height: 25px;
    width: 200px;
}

.buttonbox{
    display: flex;
    justify-content: center;
}

.button{
    margin: 18px;
    padding: 10px;
    border: 0px;
    background-color:#fdcf76;
    border-radius: 5px;
    font-weight: bold;
}

.bodyrl{
    background-color:#EAC4D2;
    background-image: url(../img/ada0997a-ea5a-48cd-99f1-f61a36cc469b.png.PNG);
}

.obligatorio{
   color: red;
   margin-top: 2px;
   font-size: smaller;
}

.nocuenta{
   text-decoration: none;
   font-weight: bold;
}
.titulodetalles{
   text-align: center;
   font-size: x-large;
   background-color: #f6a7c1;
   border: 1px solid black;
   border-radius: 10px;
}

.detallesvermas{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   border: 1px solid black;
   border-radius: 10px;
   margin: 10px;
   padding: 10px;
   width: 300px;
   height: 250px;
   justify-content: space-around;
}
.detallesvermas p{
   padding: 10px;
   justify-content:center;
   text-align:center;
}
.detallesvermas h1{
   text-align: center;
   padding: 5px;
}

.thermomix1{
height: 300px;
width: 500px;
background-color: #fcf0cf;
margin-left: 20px;
}

.thermomix2{
margin-left: 20px;
}