header{
    text-align: center;
    background-color: cornsilk;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: cornsilk;
}
ul li a{
    text-decoration: none;
    color: black;
}
.me{
    text-align: center;
    text-decoration: underline;
    background-color: cornsilk;
    font-size: medium;
}
.maselegidos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px; 
}
.utensilios{
text-align: center;
}
.cacerolas{
    text-align: center;
}
.tenedores{
    text-align: center;
}
.sartenes{
    text-align: center;
}
.cuchillos{
    text-align: center;
}
.mp{
    text-align: center;
    text-decoration: underline;
    background-color: cornsilk;
    font-size: medium;
}

.h1register{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.formbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcf0cf;
    width: 450px;
    height: 550px;
    border: solid 2px;
    border-radius: 15px;
    border-color: #fdcf76;
    margin: 20px auto;

}

.form1{
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.obligatorio{
    color: red;
    font-size: smaller;
}

.userbox{
    height: 25px;
    width: 200px;
}

.buttonbox{
    display: flex;
    justify-content: center;
}

.button{
    margin: 15px;
    padding: 5px;
}

.bodyregister{
    background-color:#EAC4D2;
    background-image: url(../img/ada0997a-ea5a-48cd-99f1-f61a36cc469b.png.PNG);
}

